.calendar {
  border-radius: 16px;
  overflow: hidden;
  background-color: $blackLight;
  line-height: 1.5;
}

.calendar__month {
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $accent;
  color: $black;
  font-weight: 900;
  font-family: 'Mont', sans-serif;
}

.calendar__content {
  padding: 24px 16px;
}

.calendar__weekdays {
  margin-bottom: 8px;
  display: flex;

  li {
    width: calc(100% / 7);
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.calendar__days {
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;

  div {
    width: calc(100% / 7);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    cursor: pointer;

    &.prev-date,
    &.next-date {
      color: $greyLight;
    }
  }
}

.calendar__menu {
  padding-top: 12px;
  border-top: 1px solid $greyLight;
  display: flex;
  justify-content: space-between;
}

.calendar__button {
  text-transform: uppercase;
  color: $accent;
  font-size: 12px;
  font-weight: 700;
}

.calendar__btn {
  width: 22px;
  height: 22px;
  background-image: url('@img/icons/calendar-angle.svg');
  background-size: 6px 12px;
  background-repeat: no-repeat;
  background-position: center;

  &--prev {
    transform: rotate(180deg);
  }

  &--next {
  }
}

.prev {
}

.date {
}

.date__month {
}

.date__year {
}

.next {
}

.calendar__months {
}

.calendar__weekdays {
}

.calendar__days {
}

.prev-date {
}

.next-date {
}

.calendar__menu {
}

.calendar__button {
}

.calendar__months {
  display: none;
}
