.calendar {
  border-radius: 16px;
  overflow: hidden;
  background-color: $white;
	box-shadow: 3px 3px 10px 5px #1f24480f;
}

.calendar__month {
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $accent;
  color: $white;
	text-transform: uppercase;
  font-weight: 900;
}

.calendar__content {
  padding: 24px 16px 12px;
}

.calendar__weekdays {
  margin-bottom: 4px;
  display: flex;

  li {
    width: calc(100% / 7);
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
		font-family: 'Arial', sans-serif;
  }
}

.calendar__days {
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;

  div {
    width: calc(100% / 7);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover,
    &.today {
      background-color: $yellow;
      color: $white;
    }

    &.prev-date,
    &.next-date {
      color: $greyThin;
      pointer-events: none;
    }
  }
}

.calendar__menu {
  padding-top: 12px;
  border-top: 1px solid $grey;
  display: flex;
  justify-content: space-between;
}

.calendar__button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
	background: $accent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.calendar__btn {
  width: 22px;
  height: 22px;
  background-image: url('@img/icons/calendar-angle.svg');
  background-size: 8px 14px;
  background-repeat: no-repeat;
  background-position: center;

  &--prev {
    transform: rotate(180deg);
  }
}

.calendar__months {
  display: none;
}
