.chars {
  display: flex;
  gap: 30px;
  margin: 120px 0 80px;

  @media (max-width: em(1280)) {
    // margin-bottom: 95px;
  }

  @media (max-width: $mobile) {
    // margin-bottom: 80px;
    flex-wrap: wrap;
  }

  @media (max-width: $mobileSmall) {
    // margin-bottom: 60px;
  }
}

.chars__item {
  padding: 40px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 40px 80px 0 #292e410a;

  @media (max-width: em(1280)) {
    padding: 20px;
  }

  @media (max-width: em(768)) {
    max-width: calc(50% - 10px);
  }

  @media (max-width: $mobileSmall) {
    max-width: 100%;
  }
}

.chars__icon {
  margin-bottom: 24px;
  width: 56px;
  height: 56px;

  @media (max-width: em(1280)) {
    margin-bottom: 16px;
  }
}

.chars__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;

  @media (max-width: em(1280)) {
    font-size: 14px;
  }
}

.chars__descr {
  font-size: 18px;

  @media (max-width: em(1280)) {
    font-size: 14px;
  }
}
