.chars {
  display: flex;
  gap: 30px;
  margin: 120px 0 80px;

  @media (max-width: em(1280)) {
		margin: 95px 0 40px;
    gap: 20px;
  }

	@media (max-width: em(972)){
		margin: 80px 0 24px;
		flex-wrap: wrap;
	}

  @media (max-width: $mobileSmall) {
    margin: 60px 0;
		gap: 15px;
  }
}

.chars__item {
  padding: 40px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 3px 3px 10px 5px #1f24480f;

  @media (max-width: em(1280)) {
    padding: 40px 12px;
  }

	@media (max-width: em(972)){
		max-width: calc(50% - 10px);
	}

  @media (max-width: em(768)) {
  }

  @media (max-width: $mobileSmall) {
    max-width: 100%;
		padding: 16px;
  }
}

.chars__icon {
  margin-bottom: 24px;
  width: 56px;
  height: 56px;
}

.chars__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;

	@media (max-width:$mobileSmall){
		font-size: 16px;
	}
}

.chars__descr {
  font-size: 18px;

	@media (max-width:$mobileSmall){
		font-size: 14px; 
	}
}
