.product {
  background-color: $white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 #292e4103;
  height: 100%;

  &--news {
		position: relative;
		padding: 32px;
		color: $white;

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #370C264D;
			content: "";
		}

		.product__img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.product__tags {
			position: relative;
			z-index: 2;
		}

    .product__info {
			position: relative;
			z-index: 2;
			max-width: 100%;
			padding: 0;

			@media (max-width: em(1280)){
				padding-left: 15px;
			}

			@media (max-width: em(972)){
				padding-left: 0;
			}
    }

		.product__date {
			font-size: 16px;
		}

		.product__descr {
			margin-bottom: 0;
			font-weight: 700;
			font-size: 36px;
			line-height: 1;

			@media (max-width: em(1280)){
				font-size: 30px;
			}

			@media (max-width: em(972)){
				font-size: 24px;
			}

			@media (max-width:$mobileSmall){
				font-size: 18px;
			}
		}

		@media (max-width: em(1280)){
			padding: 20px 25px 20px 10px;
		}

		@media (max-width: em(972)){
			padding: 18px;
		}

		@media (max-width:$mobileSmall){
			padding: 10px 16px;
		}
  }

  &--album {
    .product__title {
      margin-bottom: 64px;
      font-size: 18px;
    }

    .product__img {
      @media (max-width: em(1280)) {
        height: 200px;
      }
    }
  }

  &--video {
    overflow: visible;
    background-color: transparent;

    .gallery__video {
      box-shadow: none;
      height: auto;
    }

    .gallery__video-slide {
      margin-bottom: 24px;
      height: auto;
    }

    .product__descr {
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 900;
    }

    img {
      border-radius: 16px;

      @media (max-width: em(1280)) {
        height: 220px;
      }

      @media (max-width: $mobileSmall) {
        height: 220px;
      }
    }
  }
}

.product__link {
  display: flex;
  flex-direction: column;
  height: 100%;

  &:hover {
    .product__detail {
      text-decoration-color: $accent;
    }
  }
}

.product__img {
  width: 100%;
  height: 220px;
  object-fit: cover;

  @media (max-width: em(1024)) {
    max-width: 100%;
  }

  @media (max-width: em(972)) {
    height: 240px;
  }

  @media (max-width: $mobileSmall) {
    height: 200px;
  }
}

.product__tags {
	margin-bottom: 160px;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	font-family: 'Gilroy', sans-serif;
	font-size: 16px;

	@media (max-width:$mobile){
		margin-bottom: 120px;
	}
}

.product__taglink {
	padding: 8px;
	border-radius: 10px;
	font-weight: 500;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
}

.product__info {
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 20px 30px 30px;

  @media (max-width: em(1024)) {
    max-width: 100%;
  }

  @media (max-width: em(630)) {
    padding: 24px 24px 32px;
  }

	@media (max-width: em(525)){
		padding: 16px;
	}
}

.product__date {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.4;
}

.product__title {
  margin-bottom: 10px;
  font-size: 24px;

	@media (max-width: em(525)){
		font-size: 20px;
	}
}

.product__descr {
  @include cut-text(6);
  margin-bottom: 24px;

  @media (max-width: em(630)) {
    font-size: 14px;
  }

	@media (max-width: em(525)){
		margin-bottom: 20px;
	}
}

.product__detail {
  margin-top: auto;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease;

  @media (max-width: em(630)) {
    font-size: 12px;
  }
}
