.review {
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 3px 3px 10px 5px #1f24480f;
  background-color: $white;
  transition: background-color 0.4s ease;

  @media (max-width: $mobileSmall) {
    padding: 24px 20px;
  }
}

.review__top {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media (max-width: $mobileSmall) {
		margin-bottom: 16px;
    align-items: flex-start;
    gap: 16px;
  }
}

.mini-rating {
  display: flex;
  align-items: center;
  gap: 8px;

  .mini-rating__icon {
    width: 18px;
    height: 18px;
    fill: $grey;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li.active {
    .mini-rating__icon {
      fill: #f13780;
    }
  }
}

.review__title {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1.5;
  @include cut-text(2);

  @media (max-width: em(1280)) {
    font-size: 18px;
  }

  @media (max-width: $mobile) {
    font-size: 16px;
  }
}

.review__text {
  margin-bottom: 40px;

  @media (max-width: em(1280)) {
    font-size: 16px;
  }

  @media (max-width: $mobile) {
		margin-bottom: 24px;
    font-size: 14px;
  }
}

.review__date {
  font-size: 14px;
  color: $black;

	@media (max-width:$mobileSmall){
		font-size: 12px;
	}
}

.review__video {
  margin-bottom: 40px;
  position: relative;
  text-decoration: underline;

  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-image: url('@img/icons/video-play-accent.svg');
    content: '';

		@media (max-width: em(1280)){
			width: 48px;
			height: 48px;
			background-size: cover;
		}
  }

	@media (max-width: em(1280)){
		font-size: 14px;
	}
}

// user

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user__avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.user__info,
.user__name {
  display: block;
}

.user__name {
  margin-bottom: 2px;
  font-size: 20px;
  line-height: 1;
  font-family: 'Gilroy', sans-serif;

  @media (max-width: em(1280)){
		font-size: 16px;
	}

	@media (max-width:$mobileSmall){
		font-size: 14px;
	}
}

.user__location {
  font-size: 14px;
  color: $black;
  opacity: 0.5;
  font-weight: 500;
  font-family: 'Gilroy', sans-serif;

	@media (max-width:$mobileSmall){
		font-size: 12px;
	}
}
