.js-marquee {
	padding: 20px 0;
	text-transform: uppercase;
	font-size: 20px;
	border-bottom: 1px solid $grey;

	span {
		margin: 0 10px;
	}

	@media (max-width:$mobileSmall){
		padding: 10px 0;
		font-size: 14px;
	}
}