.socials {
  display: flex;
  gap: 10px;
}

.socials__link {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: #DEE2E5;
	border-radius: 50%;

  &--big {
    width: 36px;
  }
}

.socials__icon {
  fill: $white;
  transition: fill 0.3s ease;

  &:hover {
    fill: $pink;
  }

  &--facebook {
    width: 8px;
    height: 15px;
  }

  &--vk {
    width: 20px;
    height: 12px;
  }

  &--advisor {
    width: 24px;
    height: 15px;
  }

  &--insta {
    width: 15px;
    height: 15px;
  }

  &--youtube {
    width: 20px;
    height: 14px;
  }
}
