.stock {
  padding: 48px 64px;
  display: flex;
  gap: 40px;
  background-color: $blackLight;
  border-radius: 16px;

  @media (max-width: em(1280)) {
    padding: 48px 40px;
  }

  @media (max-width: em(768)) {
    padding: 32px;
  }

  @media (max-width: em(630)) {
    padding: 32px 20px;
    flex-direction: column;
    gap: 20px;
  }
}

.stock__img {
  max-width: 280px;
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 16px;

  @media (max-width: em(768)) {
    width: 200px;
    height: 200px;
  }

  @media (max-width: $mobileSmall) {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 280px;
  }
}

.stock__info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  line-height: 1.5;

  @media (max-width: em(768)) {
    gap: 16px;
  }
}

.stock__title {
  font-size: 24px;
  font-weight: 700;

  @media (max-width: em(768)) {
    margin-bottom: 16px;
    font-size: 20px;
  }
}

.stock__duration {
  position: relative;
  padding-left: 44px;
  font-weight: 700;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 32px;
    height: 32px;
    background-image: url('@img/icons/calendar.svg');
    content: '';
  }

  @media (max-width: em(768)) {
    font-size: 16px;
  }
}

.stock__descr {
  @media (max-width: em(768)) {
    margin-bottom: 16px;
    font-size: 16px;
  }

  @media (max-width: $mobileSmall) {
    font-size: 14px;
  }
}

.stock__button {
  max-width: max-content;

  @media (max-width: $mobileSmall) {
    max-width: 100%;
    text-align: center;
    font-size: 12px;
  }
}
