.banner {
	margin: 190px 0 120px;

	@media (max-width: em(1280)){
		margin: 155px 0 95px;
	}

	@media (max-width:$mobile){
		margin: 140px 0 80px;
	}

	@media (max-width:$mobileSmall){
		margin: 120px 0 60px;
	}
}

.banner__content {
	padding: 64px 120px;
	background: $accent;
	color: $white;
	border-radius: 24px;
	text-align: center;

	@media (max-width: em(1280)){
		padding: 40px 80px;
	}

	@media (max-width:$mobile){
		padding: 40px;
	}

	@media (max-width:$mobileSmall){
		padding: 40px 20px;
	}
}

.banner__title {
	margin-bottom: 24px;
	line-height: 1;
}

.banner__descr {
	margin-bottom: 24px;
}

.banner__attention {
	margin: 0 auto;
	padding: 0 30px;
	max-width: 790px;
	border: 1px dashed $white;
	gap: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 90px;

	@media (max-width:$mobileSmall){
		padding: 15px 20px;
		font-size: 16px;

		img {
			display: none;
		}
	}
}