.booking {
  margin-bottom: 120px;

  @media (max-width: em(1280)) {
    margin-bottom: 95px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 80px;
  }

  @media (max-width: $mobileSmall) {
    margin-bottom: 60px;
  }
}

.booking__title {
  margin-bottom: 16px;
  text-align: center;
}

.booking__info {
  margin-bottom: 40px;
  line-height: 1.5;

  @media (max-width: $mobileSmall) {
    margin-bottom: 30px;
  }
}

.booking__descr,
.booking__accent {
  margin-bottom: 20px;
  text-align: center;
}

.booking__descr {
  @media (max-width: em(972)) {
    font-size: 16px;
  }

  @media (max-width: em(630)) {
    font-size: 14px;
  }
}

.booking__accent {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
	background: linear-gradient(144.39deg, #e9277c 0%, #f03482 0.01%, #ff783e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.booking__start {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 40px;

  &.hide {
    display: none;
  }

  @media (max-width: em(1280)) {
    gap: 20px;
    grid-template-columns: 1fr 1.9fr;
  }

  @media (max-width: em(972)) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: em(630)) {
    grid-template-columns: 100%;
  }
}

.booking__calendar {
  @media (max-width: $mobileSmall) {
    margin-bottom: 10px;
  }
}

.booking__timing {
  @media (max-width: em(972)) {
    grid-column: 1 / 3;
  }

  @media (max-width: em(630)) {
    grid-column: 1 / 2;
  }
}

.booking__clues {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  gap: 27px;
  line-height: 1.5;

  @media (max-width: em(1280)) {
    gap: 20px;
  }

  @media (max-width: em(972)) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    flex-direction: column;
    gap: 10px;
  }

  @media (max-width: em(630)) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

.booking__clue {
  display: flex;
  align-items: center;
  gap: 20px;

  &--default {
    .box {
      background-color: #79B7E5;
			
    }
  }

  &--nightwalking {
    .box {
      background-color: $yellow;
    }

    .booking__clue-descr {
      max-width: 162px;
      text-align: center;

      @media (max-width: em(972)) {
        max-width: 100%;
      }
    }
  }

  &--master-classes {
    .box {
      background-color: #0b9e34;
    }
  }

  &--sold {
    .box {
      border: 1px solid #CDE2F2;
      background-color: #CDE2F2;

			&::after {
				background-color: #79B7E5;
			}
    }
  }

  @media (max-width: em(1280)) {
    gap: 10px;
  }
}

.box {
  position: relative;
  width: 90px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
	color: $white;

  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
    background-color: $white;
    content: '';
  }

  span {
    line-height: 1.5;

    &:first-child {
      padding: 10px 0 15px;

      @media (max-width: em(972)) {
        padding: 8px 0 10px;
      }

      @media (max-width: $mobile) {
        padding: 6px 0 8px;
      }
    }

    &:last-child {
      padding: 15px 0 10px;

      @media (max-width: em(972)) {
        padding: 10px 0 8px;
      }

      @media (max-width: $mobile) {
        padding: 8px 0 6px;
      }
    }
  }

  @media (max-width: em(1280)) {
    width: 70px;
  }

  @media (max-width: em(630)) {
    width: 60px;
    font-size: 16px;
  }
}

.booking__clue-descr {
  max-width: 185px;
  font-size: 16px;

  span {
    display: block;

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: em(630)) {
        margin-bottom: 20px;
      }
    }
  }

  @media (max-width: em(1280)) {
    font-size: 12px;
  }
}

.booking__finish {
  display: none;
  line-height: 1.5;

  &.show {
    display: block;
  }
}

.booking__backlink {
  position: relative;
  margin-bottom: 25px;
  padding-left: 40px;
  text-transform: uppercase;
	font-weight: 700;
  font-size: 12px;
	background: linear-gradient(144.39deg, #e9277c 0%, #f03482 0.01%, #ff783e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 30px;
    height: 30px;
    content: '';
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('@img/icons/stopwatch.svg');
  }

  @media (max-width: $mobile) {
    margin: 0 auto 25px;
    display: block;
    max-width: max-content;
  }
}

.booking__content {
  display: grid;
  gap: 40px;
  grid-template-columns: 2.4fr 1fr;

  @media (max-width: em(1280)) {
    gap: 20px;
    grid-template-columns: 2fr 1fr;
  }

  @media (max-width: em(972)) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.booking__data {
  padding: 40px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  background-color: $whiteBold;
  border-radius: 16px;
	box-shadow: 0 4px 4px 0 #00000040;

  @media (max-width: em(1280)) {
    padding: 30px 30px 40px;
    gap: 30px 20px;
  }

  @media (max-width: em(630)) {
    padding: 30px 20px;
    gap: 20px;
  }
}

.booking__part {
  max-width: calc(50% - 20px);
  width: 100%;

  .booking__field {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &--payment {
    align-self: flex-end;

    @media (max-width: em(1280)) {
      margin-bottom: 74px;
    }

    @media (max-width: em(630)) {
      margin-bottom: 0;
    }
  }

  &--gift {
    align-self: flex-end;

    .booking__field {
      &:not(:last-child) {
        margin-bottom: 0;
      }

      max-width: 155px;

      @media (max-width: em(630)) {
        max-width: 100%;
        width: 100%;
      }
    }

    .booking__field-box {
      align-items: flex-end;

      @media (max-width: em(1280)) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &--tickets,
  &--contacts {
    .booking__heading {
      margin-bottom: 10px;
    }
  }

  @media (max-width: em(630)) {
    max-width: 100%;
  }
}

.booking__heading {
  margin-bottom: 15px;
  display: block;
  font-size: 24px;
  font-weight: 700;

  @media (max-width: em(1280)) {
    font-size: 18px;
  }
}

.booking__available {
  margin-bottom: 15px;
  display: block;
  font-size: 16px;
  background: linear-gradient(144.39deg, #e9277c 0%, #f03482 0.01%, #ff783e 100%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.booking__field {
  @media (max-width: $mobileSmall) {
    .field__input {
      font-size: 14px;

      &::placeholder {
        font-size: 14px;
      }
    }
  }
}

.booking__detail {
  margin-bottom: 15px;
  display: block;
  font-size: 16px;
}

.booking__field-box {
  display: flex;
  gap: 20px;
}

.booking__button {
  display: block;
	padding: 15px 32px;
	font-size: 16px;
	line-height: 1;

  @media (max-width: $mobileSmall) {
    font-size: 12px;
  }
}

.booking__result {
  padding: 40px 30px 35px;
  background: $accent;
  border-radius: 16px;
  color: $white;

  .booking__heading {
    @media (max-width: em(1280)) {
      font-size: 20px;
    }
  }

  @media (max-width: em(1280)) {
    padding: 30px 30px 35px;
  }

  @media (max-width: em(972)) {
    padding: 30px;

    .field--agreement {
      .checkbox__text {
        font-size: 12px;
      }
    }
  }

  @media (max-width: em(630)) {
    padding: 20px;
  }
}

.booking__resume {
  margin-bottom: 30px;

  @media (max-width: em(972)) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 30px;
  }

  @media (max-width: em(630)) {
    grid-template-columns: 100%;
    gap: 15px;
  }
}

.booking__resume-item {
  &:not(:last-child) {
    margin-bottom: 5px;

    @media (max-width: em(972)) {
      margin-bottom: 0;
    }
  }

  span {
    font-size: 16px;
  }

  strong {
    display: block;
    font-size: 20px;

    @media (max-width: em(972)) {
      font-size: 18px;
    }
  }

  @media (max-width: $mobileSmall) {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}

.booking__submit {
	background: $white;
  margin-bottom: 16px;
	color: #f03482;
	font-size: 16px;

  @media (max-width: $mobileSmall) {
    font-size: 12px;
  }
}
