.desire {
  margin-bottom: 120px;
  counter-reset: desires;

  @media (max-width: em(1280)) {
    margin-bottom: 95px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 80px;
  }

  @media (max-width: $mobileSmall) {
    margin-bottom: 60px;
  }
}

.desire__title {
  margin-bottom: 40px;
  text-align: center;

	@media (max-width:$mobile){
		margin-bottom: 24px;
	}
}

.desire__list {
  margin-bottom: 60px;
  display: flex;
	justify-content: center;

  @media (max-width: em(1280)) {
    margin-bottom: 40px;
  }

	@media (max-width:$mobile){
		flex-wrap: wrap;
		gap: 25px 0;
	}

  @media (max-width: em(630)) {
    margin-bottom: 20px;
    gap: 10px 15px;
  }
}

.desire__item {
  position: relative;
	max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
	padding: 0 10px;
	border-right: 1px solid $grey;
  text-align: center;
  gap: 16px;

	&:first-child,
	&:nth-child(4) {
		border-left: 1px solid $grey;

		@media (max-width: em(630)){
			border: none;
		}
	}

  &::before {
    counter-increment: desires;
    content: '0' counter(desires) '.';
    font-size: 48px;
    font-weight: 700;
    background: $accent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (max-width: em(1280)) {
    font-size: 14px;
  }

  @media (max-width: em(972)) {
    max-width: 172px;
  }

	@media (max-width:$mobile){
		max-width: calc(100% / 3);
	}

  @media (max-width: em(630)) {
		gap: 5px;
    font-size: 14px;
		border: none;
  }
	
	@media (max-width:$mobileSmall){
		max-width: calc(50% - 10px);
		padding: 0;
	}
}

.desire__card {
  padding: 24px 30px;
  text-align: center;
	background-color: $black;
	color: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;

  @media (max-width: $mobile) {
    padding: 30px;
		flex-direction: column;
  }

  @media (max-width: em(630)) {
    padding: 30px 15px;
  }
}

.desire__card-title {
	font-size: 20px;
	font-weight: 700;

  @media (max-width: $mobile) {
    font-size: 18px;
  }
}

.desire__button {
  display: block;
  max-width: max-content;
	font-size: 16px;

  @media (max-width: $mobileSmall) {
    font-size: 14px;
  }
}
