.excursion {
  background-repeat: no-repeat;

  &--dark {
    margin-bottom: 60px;

    .excursion__wrapper {
      justify-content: flex-end;
    }

    .excursion__info {
      @media (max-width: $mobile) {
        padding: 0 20px;
      }
    }

    @media (max-width: em(972)) {
      background-image: none;
    }

    @media (max-width: em(767)) {
      margin-bottom: 0;
    }
  }

  &--light {
    background-image: url('@img/decor/excursion-light.jpg');
    background-position: left;

    .excursion__info {
      padding: 215px 0;

      @media (max-width: em(972)) {
        padding: 0 40px;
      }

      @media (max-width: $mobile) {
        padding: 0 20px;
      }
    }

    .excursion__descr {
      margin-bottom: 0;
    }

    .excursion__wrapper {
      justify-content: flex-start;

      @media (max-width: em(1366)) {
        justify-content: center;
      }

      @media (max-width: em(972)) {
        padding: 224px 0 304px;
        background-image: url('@img/decor/excursion-light-mobile.jpg');
        background-size: cover;
        background-position: center;
      }

      @media (max-width: $mobileSmall) {
        padding: 160px 0 220px;
      }
    }

    .excursion__content {
      @media (max-width: em(972)) {
        flex-direction: column-reverse;
      }
    }

    @media (max-width: em(972)) {
      background-image: none;
    }
  }
}

.excursion__top {
  margin-bottom: 30px;
  padding-left: 80px;
  background-size: 50px;
  background-image: url('@img/icons/stopwatch.svg');
  background-repeat: no-repeat;

  @media (max-width: $mobileSmall) {
    margin-bottom: 20px;
    padding-left: 56px;
    background-size: 35px;
  }
}

.excursion__label {
  margin-bottom: 10px;
  display: block;
  font-size: 18px;
  text-transform: uppercase;

  @media (max-width: $mobileSmall) {
    margin-bottom: 3px;
    font-size: 12px;
  }
}

.excursion__title {
  margin-bottom: 40px;

  @media (max-width: em(972)) {
    margin-bottom: 30px;
  }
}

.excursion__duration {
  font-size: 30px;
  font-weight: 400;

  @media (max-width: em(972)) {
    font-size: 24px;
  }

  @media (max-width: $mobileSmall) {
    font-size: 20px;
  }
}

.excursion__descr {
  margin-bottom: 40px;
  line-height: 1.5;

  @media (max-width: em(1280)) {
    font-size: 16px;
  }

  @media (max-width: $mobileSmall) {
    font-size: 14px;
  }
}

.excursion__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  @media (max-width: em(972)) {
    flex-direction: column;
    gap: 0;
    margin: 0 -20px;
  }
}

.excursion__info {
  max-width: 585px;

  @media (max-width: em(1280)) {
    max-width: 542px;
  }

  @media (max-width: em(972)) {
    max-width: 100%;
  }
}

.excursion__navigation {
  margin-bottom: 32px;
}

.excursion__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &::before,
  &::after {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
  }

  &::before {
    top: -60px;
    left: 80px;
    background-image: url('@img/decor/bagel.svg');
    width: 64px;
    height: 64px;
  }

  &::after {
    top: 12px;
    right: 0;
    width: 22px;
    height: 22px;
    background-image: url('@img/decor/ball.svg');
  }
}

.subtabs__menu {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.subtabs__btn {
  padding: 8px 16px;
  background-color: $whiteBold;
  font-size: 16px;
  border-radius: 4px;

  &.active {
    background: $accent;
    color: $white;
    font-weight: 700;
  }

  @media (max-width: $mobileSmall) {
    font-size: 12px;
  }
}

.subtabs__content {
  min-height: 140px;

  @media (max-width: em(972)) {
    min-height: auto;
  }
}

.excursion__one {
  display: none;

  &.active {
    display: block;
  }
}

.excursion__img {
  width: 465px;
  height: 465px;
  border-radius: 50%;
  overflow: hidden;
}

.excursion__button {
  position: absolute;
  left: 0;
  box-shadow: 3px 3px 10px 5px #1f24480f;

  &::after {
    position: absolute;
    top: -60px;
    left: -52px;
    z-index: -1;
    width: 116px;
    height: 124px;
    background-image: url('@img/decor/btn-dots.svg');
    content: '';
  }
}

.subtabs__one {
  display: none;

  &.active {
    display: block;
  }

  @media (max-width: em(1280)) {
    font-size: 16px;
  }

  @media (max-width: $mobile) {
    font-size: 14px;
  }
}
