.gallery {
  .gallery__btn {
    top: auto;
    left: 32px;
    bottom: 32px;
    transform: translate(0);

    @media (max-width: em(1280)) {
      bottom: 24px;
    }

    @media (max-width: $mobile) {
      width: 64px;
      height: 64px;
    }
  }
}

.gallery__navigation {
  margin-bottom: 30px;
}

.gallery__list {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (max-width: em(972)) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $mobile) {
    gap: 20px;
  }

  @media (max-width: $mobileSmall) {
    margin-bottom: 30px;
    grid-template-columns: 100%;
    gap: 30px;
  }
}

.gallery__item {
  width: 100%;

  img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
}
