.guides__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.guides__title {
	margin-bottom: 40px;
	line-height: 1;

	@media (max-width: em(972)){
		margin-bottom: 30px;
		line-height: 1.3;
	}

	@media (max-width:$mobileSmall){
		margin-bottom: 20px; 
	}
}