.info {
  &--main {
    margin-bottom: 120px;

    @media (max-width: $mobile) {
      margin-bottom: 80px;
    }

    @media (max-width: $mobileSmall) {
      margin-bottom: 60px;
    }
  }

  &--landing {
    margin-bottom: 120px;

    .info__content {
      @media (max-width: em(1280)) {
        align-items: center;
      }
    }

    .info__main {
      @media (max-width: em(1280)) {
        img {
          width: 450px;
          height: 280px;

          @media (max-width: em(972)) {
            width: 100%;
            height: 420px;
          }

          @media (max-width: $mobileSmall) {
            height: 200px;
          }
        }
      }

      @media (max-width: em(972)) {
        width: 100%;
      }

      @media (max-width: $mobileSmall) {
        .info__video {
          margin-bottom: 16px;
        }

        .info__descr {
          font-size: 14px;
        }
      }
    }

    @media (max-width: em(1280)) {
      margin-bottom: 95px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 80px;
    }

    @media (max-width: $mobileSmall) {
      margin-bottom: 60px;
    }
  }
}

.info__container {
  @media (max-width: em(972)) {
    padding: 0 40px;
  }

  @media (max-width: $mobile) {
    padding: 0 20px;
  }
}

.info__title {
  margin-bottom: 40px;

  @media (max-width: em(1280)) {
    font-size: 36px;
  }

  @media (max-width: em(972)) {
    margin-bottom: 30px;
  }

  @media (max-width: $mobileSmall) {
    font-size: 24px;
  }
}

.info__content {
  display: flex;
  gap: 60px;

  @media (max-width: em(1280)) {
    gap: 40px;
  }

  @media (max-width: em(972)) {
    flex-direction: column;
    gap: 30px;
  }
}

.info__text {
  font-size: 18px;

  p {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  ul {
    li {
      position: relative;
      padding-left: 24px;
      line-height: 1.5;
      font-size: 18px;

      &::before {
        position: absolute;
        top: 10px;
        left: 0;
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background-color: #ffb50d;
        border-radius: 50%;
      }

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      @media (max-width: em(1280)) {
        font-size: 16px;
      }

      @media (max-width: $mobile) {
        font-size: 14px;
      }
    }
  }

  h3 {
    margin: 40px 0 20px;
    font-size: 20px;
    font-weight: 700;

    @media (max-width: em(1280)) {
      font-size: 18px;
    }

    @media (max-width: $mobileSmall) {
      margin: 20px 0;
    }
  }

  @media (max-width: em(1280)) {
    font-size: 16px;
  }

  @media (max-width: em(972)) {
    font-size: 14px;
  }
}

.info__video {
  position: relative;
  margin-bottom: 24px;
  display: block;
  box-shadow: 0 16px 40px 0 #bbb6b626;
  border-radius: 16px;

  img {
    object-fit: cover;
    border-radius: 16px;

    @media (max-width: em(972)) {
      width: 100%;
      height: 420px;
    }

    @media (max-width: $mobile) {
      height: 300px;
    }

    @media (max-width: $mobileSmall) {
      height: 200px;
    }
  }
}

.info__btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $accent;

  @media (max-width: em(972)) {
    left: 40px;
    bottom: 32px;
  }

  @media (max-width: $mobile) {
    left: 20px;
    bottom: 20px;
  }
}

.info__descr {
  font-size: 18px;

  strong {
    color: $yellow;
  }

  @media (max-width: em(1280)) {
    font-size: 15px;
  }

  @media (max-width: em(972)) {
    margin-left: 69px;
  }

  @media (max-width: $mobile) {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }
}

.info__decor {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  height: auto;
  transform-origin: center;
  width: 150px;
  text-transform: uppercase;
  font-weight: 700;
  animation: rotate 15s infinite linear;
}
