.offer {
  margin-bottom: 120px;
	padding: 120px 0;
	background-color: $whiteBold;

  @media (max-width: em(1280)) {
    margin-bottom: 95px;
		padding: 95px 0;
  }

  @media (max-width: $mobile) {
    margin-bottom: 80px;
		padding: 80px 0;
  }

  @media (max-width: $mobileSmall) {
    margin-bottom: 60px;
		padding: 60px 0;
  }
}

.offer__title {
  margin-bottom: 40px;
  text-align: center;
	line-height: 1;

	@media (max-width: em(972)){
		line-height: 1.3;
	}

  @media (max-width: $mobile) {
    margin-bottom: 30px;
  }
}

.offer__list {
  margin-bottom: 30px;
  display: flex;
	justify-content: center;

  @media (max-width: em(1280)) {
    gap: 32px 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: $mobile) {
    margin-bottom: 30px;
  }

  @media (max-width: em(630)) {
    margin-bottom: 30px;
    gap: 20px 30px;
  }
}

.offer__item {
	padding: 12px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  font-size: 16px;
	border-right: 1px solid $grey;

	&:first-child {
		border-left: 1px solid $grey;

		@media (max-width: em(630)){
			border-left: none;
		}
	}

	&:nth-child(4) {
		@media (max-width: em(1280)){
			border-left: 1px solid $grey;
		}

		@media (max-width: em(630)){
			border-left: none;
		}
	}

  @media (max-width: em(1280)) {
    max-width: calc(33% - 20px);
    width: 100%;
  }

  @media (max-width: em(630)) {
    max-width: calc(50% - 15px);
		border: none;
  }

  @media (max-width: $mobileSmall) {
    font-size: 14px;
  }
}

.offer__icon {
  width: 48px;
  height: 48px;
}

.offer__prices {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;

	@media (max-width:$mobileSmall){
		flex-direction: column;
	}
}

.offer__price {
  display: block;
  max-width: max-content;
  font-weight: 700;

  &--old {
    margin-bottom: 5px;
		padding-left: 8px;
		min-width: 156px;
		display: block;
    font-size: 40px;
    background-position: top;
    background-image: url('@img/icons/line.svg');
    background-repeat: no-repeat;
    background-size: contain;
		background-position: center;

    @media (max-width: $mobile) {
      font-size: 36px;
    }

		@media (max-width:$mobileSmall){
			padding-left: 0;
			min-width: auto;
		}
  }

  &--new {
		line-height: 1.3;
    font-size: 55px;
		background: $accent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: $mobile) {
      font-size: 40px;
    }
  }
}

.offer__button {
  margin: 0 auto 24px;
  display: block;
  max-width: max-content;

  @media (max-width: $mobileSmall) {
    padding: 14px 32px;
    font-size: 14px;
  }
}

.offer__recommend {
  position: relative;
  margin: 0 auto;
  padding-left: 58px;
  max-width: 225px;
  min-height: 48px;
  display: flex;
  align-items: center;
  font-size: 14px;
  background-image: url('@img/decor/food.png');
  background-repeat: no-repeat;
  background-size: 48px;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-65%);
    left: -108px;
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('@img/decor/promo-arrow.svg');
    background-repeat: no-repeat;
    content: '';

    @media (max-width: em(414)) {
      display: none;
    }
  }

  @media (max-width: em(630)) {
    &::before {
      width: 70px;
      height: 70px;
      transform: translateY(-90%);
      left: -90px;
    }
  }
}
