.process {
  margin-bottom: 120px;

	&--usual {
		padding: 120px 0;
		background-color: $whiteBold;

		.process__container {
			display: flex;
			justify-content: space-between;
			gap: 40px;
		}
	}

  @media (max-width: em(1280)) {
    margin-bottom: 95px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 80px;
  }

  @media (max-width: $mobileSmall) {
    margin-bottom: 60px;
  }
}

.process__container {
  position: relative;
}

.process__content {
	max-width: 470px;
}

.process__title {
  margin-bottom: 150px;
	line-height: 1;

  @media (max-width: $mobile) {
    margin-bottom: 30px;
    font-size: 30px;
  }

  &--dark {
    margin-bottom: 20px;
  }

  &--light {
    @media (max-width: em(1280)) {
      font-size: 30px;
    }

    @media (max-width: $mobile) {
      font-size: 24px;
    }

    @media (max-width: $mobileSmall) {
      font-size: 18px;
    }
  }

  @media (max-width: em(630)) {
    font-size: 24px;
  }
}

.process__parts {
  display: flex;
  gap: 30px;


  @media (max-width: $mobile) {
    gap: 20px;
  }

  @media (max-width: em(630)) {
    flex-direction: column;
  }

  @media (max-width: $mobileSmall) {
    margin-bottom: 60px;
  }
}

.process__part {
  max-width: 332px;
  border-radius: 16px;
  overflow: hidden;
	background-color: $white;
	box-shadow: 3px 3px 10px 5px #1f24480f;

  img {
    width: 100%;
    height: 220px;
    object-fit: cover;

    @media (max-width: em(1280)) {
      height: 380px;
    }

    @media (max-width: $mobile) {
      height: 240px;
    }

    @media (max-width: $mobileSmall) {
      height: 220px;
    }
  }

  @media (max-width: $mobile) {
    max-width: calc(50% - 10px);
  }

  @media (max-width: em(630)) {
    max-width: 100%;
  }
}

.process__box {
  padding: 20px 30px;
}

.process__name {
  margin-bottom: 16px;
  font-size: 24px;
	line-height: 1.25;

  @media (max-width: $mobile) {
    font-size: 18px;
  }
}

.process__descr {
  @media (max-width: em(1280)) {
    font-size: 16px;
  }

  @media (max-width: $mobile) {
    font-size: 14px;
  }
}

.process__subtitle {
  margin-bottom: 40px;
  display: block;
  font-size: 20px;
  text-align: center;

  @media (max-width: $mobile) {
    margin-bottom: 30px;
    font-size: 14px;
  }
}

.process__slider {
  margin-bottom: 120px;

  @media (max-width: em(1280)) {
    margin-bottom: 95px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 80px;
  }

  @media (max-width: $mobileSmall) {
    margin-bottom: 60px;
  }
}

.process__swiper {
  margin-bottom: 40px;
}

.process__slide {
  display: flex;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
  line-height: 1.5;

  img {
    max-width: 380px;
    height: 275px;
    object-fit: cover;

    @media (max-width: em(972)) {
      max-width: 245px;
      height: 240px;
    }

    @media (max-width: em(630)) {
      max-width: 100%;
      width: 100%;
      height: 200px;
    }
  }

  @media (max-width: em(768)) {
    max-width: 620px;
  }

  @media (max-width: em(630)) {
    max-width: 280px;
    flex-direction: column;
    opacity: 0.5;
    transition: opacity 0.5s;

    &.swiper-slide-active {
      opacity: 1;
    }
  }
}

.process__info {
  padding: 10px 63px 10px 40px;

  @media (max-width: em(972)) {
    padding: 20px 40px;
  }

  @media (max-width: em(630)) {
    padding: 24px 20px;
  }
}

.process__slide-name {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;

  @media (max-width: em(972)) {
    margin-bottom: 20px;
  }

  @media (max-width: em(630)) {
    margin-bottom: 16px;
    font-size: 20px;
  }
}

.process__slide-descr {
  @media (max-width: em(972)) {
    font-size: 14px;
  }
}

.process__next,
.process__prev {
  top: calc(50% - 48px);
}

.process__list {
  margin-bottom: 40px;
  display: flex;
  gap: 27px;

  @media (max-width: $mobile) {
    margin-bottom: 30px;
    gap: 20px;
  }

  @media (max-width: em(630)) {
    flex-direction: column;
  }
}

.process__item {
  border-radius: 16px;
  overflow: hidden;

  img {
    max-width: 100%;
    width: 100%;
    height: 240px;
    object-fit: cover;

    @media (max-width: em(1280)) {
      height: 200px;
    }

    @media (max-width: $mobile) {
      height: 160px;
    }

    @media (max-width: em(630)) {
      height: 200px;
    }
  }
}

.process__text {
  padding: 24px 30px 32px;
  text-align: center;
  line-height: 1.5;

  @media (max-width: em(1280)) {
    padding: 24px 30px;
    font-size: 16px;
  }

  @media (max-width: em(972)) {
    padding: 24px 16px 32px;
    font-size: 14px;
  }

  @media (max-width: em(630)) {
    padding: 24px 16px;
  }
}

.process__button {
  margin: 0 auto 120px;
  display: block;
  max-width: max-content;

  @media (max-width: em(1280)) {
    margin: 0 auto 95px;
  }

  @media (max-width: $mobile) {
    margin: 0 auto 80px;
  }

  @media (max-width: $mobileSmall) {
    margin: 0 auto 60px;
    padding: 16px 32px;
    font-size: 12px;
  }
}

.process__results {
  display: flex;
  gap: 30px;
  line-height: 1.5;

  @media (max-width: em(972)) {
    gap: 20px;
    justify-content: space-between;
  }

  @media (max-width: em(630)) {
    flex-direction: column;
  }
}

.process__result {
  max-width: calc(33% - 20px);
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 16px;

  @media (max-width: em(972)) {
    max-width: calc(33% - 12px);
    font-size: 14px;
  }

  @media (max-width: em(630)) {
    padding: 20px 24px;
    max-width: 100%;
  }
}

.process__icon {
  margin-bottom: 16px;
  width: 48px;
  height: 48px;
}
