.promo {
  &--main {
    padding: 50px 0 120px;

    @media (max-width: em(1280)) {
      padding: 60px 0 95px;

      .promo__info {
        margin-bottom: 40px;

        @media (max-width: em(630)) {
          margin-bottom: -10px;
        }
      }
    }

    @media (max-width: $mobile) {
      padding: 50px 0 80px;
    }

    @media (max-width: $mobileSmall) {
      padding: 30px 0 60px;
    }
  }

  &--landing {
    padding: 80px 0 120px;

    .promo__info {
      margin-bottom: 0;
      max-width: 720px;
    }
  }
}

.promo__container {
  padding: 0 40px;
  background-position: top right;
  background-size: 45%;
  background-repeat: no-repeat;

  @media (max-width: em(630)) {
    background-image: none !important;
  }

  @media (max-width: em(414)) {
    padding: 0 20px;
  }
}

.promo__title {
  margin-bottom: 24px;
  line-height: 1.5;

  @media (max-width: em(972)) {
    max-width: 50%;
  }

  @media (max-width: em(630)) {
    max-width: 100%;
  }
}

.promo__content {
  display: flex;
  align-items: center;
}

.promo__info {
  margin-bottom: 50px;

  @media (max-width: em(630)) {
    text-align: center;
  }
}

// Monda
.promo__subtitle {
  margin-bottom: 24px;
  display: block;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 1.4;

  @media (max-width: em(630)) {
    margin-bottom: 16px;
    text-align: center;
    font-size: 20px;
  }
}

.promo__list {
  margin-bottom: 24px;

  li {
    position: relative;
    padding-left: 24px;
    font-size: 20px;
    line-height: 1.5;

    &:not(:last-child) {
      margin-bottom: 12px;

      @media (max-width: $mobileSmall) {
        margin-bottom: 10px;
      }
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background-color: $accent;
      border-radius: 50%;
    }

    @media (max-width: em(1280)) {
      font-size: 18px;
    }

    @media (max-width: em(630)) {
      font-size: 14px;
      text-align: left;
    }
  }

  @media (max-width: em(630)) {
    margin: 0 auto 16px;
    max-width: max-content;
  }
}

.promo__img {
  max-width: 480px;
}

.promo__recommend {
  position: relative;
  margin-left: 54px;
  padding-left: 54px;
  min-height: 38px;
  display: flex;
  align-items: center;
  background-image: url('@img/decor/tripadvisor.png');
  background-repeat: no-repeat;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-65%);
    left: -108px;
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('@img/decor/promo-arrow.svg');
    background-repeat: no-repeat;
    content: '';

    @media (max-width: em(414)) {
      display: none;
    }
  }

  @media (max-width: em(1366)) {
    margin-left: 69px;
  }

  @media (max-width: em(630)) {
    margin: 0 auto;
    max-width: max-content;
    padding-left: 42px;
    background-size: 32px;
    background-position: left center;
    font-size: 12px;
  }
}

.promo__descr {
  margin-bottom: 40px;
  display: block;
  font-size: 20px;
  line-height: 1.5;

  @media (max-width: em(1280)) {
    font-size: 18px;
  }

  @media (max-width: em(630)) {
    margin-bottom: 30px;
    font-size: 14px;
  }
}

.promo__button {
  margin-bottom: 24px;
  display: inline-block;

  @media (max-width: em(630)) {
    margin: 0 auto 20px;
    font-size: 12px;
  }

  @media (max-width: $mobileSmall) {
    padding: 16px 30px;
  }
}

.promo__cards {
  margin: 0 auto;
  max-width: 915px;
  display: flex;
  gap: 30px;

  @media (max-width: em(1280)) {
    gap: 20px;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.promo__card {
  max-width: 285px;
  width: 100%;
  padding: 32px 24px;

  p {
    font-size: 16px;
    line-height: 1.5;

    @media (max-width: em(1280)) {
      font-size: 14px;
    }
  }

  @media (max-width: $mobile) {
    max-width: 100%;
    display: flex;
    gap: 16px;
    padding: 20px;
    text-align: left;
  }
}

.promo__icon {
  margin-bottom: 16px;

  &--eye {
    width: 48px;
    height: 33px;
  }

  &--socials {
    width: 48px;
    height: 48px;
  }

  &--mind {
    width: 30px;
    height: 40px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 0;
    flex: none;
    width: 48px;
  }
}

.promo__decor-img {
  display: none;

  @media (max-width: em(630)) {
    margin: 0 auto;
    display: block;
    object-fit: cover;
    max-width: 90%;
  }
}
