.slider {
  &--products,
	&--master {
    padding: 100px 0;
    background-color: #f4f8fb;

    .slider__container {
      display: flex;
      gap: 98px;

			@media (max-width: em(1280)){
				gap: 40px;
			}

			@media (max-width: em(972)){
				flex-direction: column;
			}

			@media (max-width: em(525)){
				gap: 32px;
			}
    }

		.products__slide {
			max-width: 380px;
			

			@media (max-width: em(1280)){
				max-width: 292px;
			}

			@media (max-width: em(972)){
				max-width: 335px;
			}

			@media (max-width: em(525)){
				max-width: 280px;
			}
		}

		.slider__title {
			line-height: 1;

			@media (max-width: em(972)){
				margin-bottom: 0;
				line-height: 1.3;
				font-size: 40px;
			}

			@media (max-width: em(525)){
				line-height: 1.3;
				font-size: 30px;
			}
		}

		.slider__text {
			grid-column: 1 / 2;

			@media (max-width: em(972)){
				font-size: 16px;
			}

			@media (max-width:$mobileSmall){
				font-size: 14px;
			}
		}

    .slider__info {
			position: relative;
      max-width: 312px;
      display: flex;
      flex-direction: column;

			@media (max-width: em(1280)){
				max-width: 300px;
			}

			@media (max-width: em(972)){
				max-width: 100%;
				display: grid;
				grid-template-columns: 1fr auto;
				gap: 40px 60px;
			}

			@media (max-width: em(525)){
				gap: 24px 0;
			}
    }

		.product__img {
			@media (max-width: em(525)){
				height: 160px;
			}
		}

    .slider__decor {
      margin-top: auto;
      width: 175px;
      height: 175px;

			@media (max-width: em(972)){
				grid-row: 1 / 3;
				grid-column: 2 / 3;
				width: 150px;
				height: 150px;
			}

			@media (max-width: em(525)){
				position: absolute;
				top: -10px;
				right: 0;
				width: 77px;
				height: 75px;
			}
    }

		@media (max-width: em(1280)){
			padding: 95px 0;
		}

		@media (max-width:$mobile){
			padding: 80px 0;
		}

		@media (max-width:$mobileSmall){
			padding: 60px 0;
		}
  }

	&--master {
		.products__slide {
			max-width: 355px;

			@media (max-width: em(1280)){
				max-width: 292px;
			}

			@media (max-width: em(972)){
				max-width: 335px;
			}

			@media (max-width: em(525)){
				max-width: 280px;
			}
		}

		.slider__info {
			max-width: 362px;

			@media (max-width: em(1280)){
				max-width: 300px;
			}

			@media (max-width: em(972)){
				max-width: 100%;
				display: grid;
				grid-template-columns: 1fr auto;
				gap: 40px 60px;
			}

			@media (max-width: em(525)){
				gap: 24px 0;
			}
		}

		.slider__title {
			@media (max-width:$mobileSmall){
				max-width: 80%;
			}
		}

		.slider__text {
			margin-bottom: 28px;

			@media (max-width: em(972)){
				margin-bottom: 0;
			}
		}
	}

  &--partners,
  &--guides,
  &--testimonials {
    .products__slider {
      margin-bottom: 115px;

      @media (max-width: em(1280)) {
        margin-bottom: 95px;
      }

      @media (max-width: $mobile) {
        margin-bottom: 80px;
      }

      @media (max-width: $mobileSmall) {
        margin-bottom: 60px;
      }
    }

    .slider__title,
    .slider__descr {
      max-width: 840px;
      text-align: center;
    }

    .slider__title {
      margin: 0 auto 20px;
    }

    .products__swiper {
      @media (max-width: $mobileSmall) {
        margin-bottom: 30px;
      }
    }

    .slider__descr {
      margin: 0 auto 40px;
      font-size: 20px;

      @media (max-width: $mobileSmall) {
        margin: 0 auto 30px;
        font-size: 14px;
      }
    }

    .product__img {
      width: 100%;
      height: 220px;
      object-fit: cover;

      @media (max-width: em(1280)) {
        height: 240px;
      }
    }

    margin-bottom: 115px;

    @media (max-width: em(1280)) {
      margin-bottom: 95px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 80px;
    }

    @media (max-width: $mobileSmall) {
      margin-bottom: 60px;
    }
  }

	&--partners {
		.slider__title {
			margin-bottom: 40px;
			line-height: 1;

			@media (max-width:$mobile){
				margin-bottom: 24px;
			}
		}
	}

	&--guides {
		padding: 120px 0;
		background-color: $whiteBold;

		.slider__top {
			margin-bottom: 40px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
		}

		.slider__title {
			margin: 0;
			text-align: left;
		}

		.slider__nav {
			display: flex;
			gap: 20px;
		}

		.guide {
			background-color: $white;
		}

		.sound-button {
			box-shadow: 3px 3px 10px 5px #1f24480f;
		}

		@media (max-width: em(972)){
			padding: 95px 0;
		}

		@media (max-width:$mobile){
			padding: 80px 0;
		}

		@media (max-width:$mobileSmall){
			padding: 60px 0;
		}
	}

  &--gallery {
    margin-bottom: 120px;
    padding-top: 95px;

    .slider__title {
      position: relative;
      margin: 0 auto 40px;
      max-width: 1200px;
      line-height: 1;
      text-align: center;

      &::before {
        position: absolute;
        z-index: -1;
        top: -95px;
        left: -45%;
        font-size: 240px;
        color: $whiteBold;
        line-height: 1.25;
        text-transform: uppercase;
        white-space: nowrap;
        content: 'Галерея • Галерея';

				@media (max-width: em(1280)){
					font-size: 180px;
					left: -42%;
				}

				@media (max-width: em(972)){
					font-size: 120px;
					top: -50px;
					left: -23%;
				}
			
				@media (max-width:$mobileSmall){
					font-size: 60px;
					top: -20px;
					left: -20%;
				}
      }

			@media (max-width: em(972)){
				font-size: 40px;
			}

			@media (max-width:$mobileSmall){
				margin-bottom: 24px;
				font-size: 30px;
			}
    }

    .gallery__slider {
      margin: 0 auto;
      max-width: 1200px;
    }

    .gallery__swiper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      grid-auto-rows: 220px;

			@media (max-width: em(1280)){
				grid-auto-rows: 170px;
			}

			@media (max-width: em(972)){
				grid-template-columns: repeat(2, 1fr);
				grid-auto-rows: 190px;
			}

			@media (max-width:$mobileSmall){
				grid-auto-rows: 100px;
				gap: 16px 17px;
			}
    }

    .gallery__slide {
      width: 100%;
      height: auto;
      transform: translateX(0);

      img {
        border-radius: 16px;

				@media (max-width:$mobileSmall){
					border-radius: 8px;
				}
      }

      &:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
      }

      &:nth-child(5) {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
				
				@media (max-width: em(972)){
					grid-column: auto;
					grid-row: auto;
				}
      }
    }

		@media (max-width: em(1280)){
			margin-bottom: 95px;
			padding-top: 56px;
		}

		@media (max-width:$mobile){
			padding-top: 5px;
			margin-bottom: 60px;
		}
  }

  &--testimonials {
    .slider__title {
      @media (max-width: $mobileSmall) {
        margin-bottom: 20px;
      }
    }

    .testimonials__subtitle {
      @media (max-width: $mobile) {
        font-size: 14px;
      }
    }
  }
}

.slider__container {
  position: relative;
}

.slider__title {
  margin-bottom: 40px;

  @media (max-width: em(768)) {
    margin-bottom: 30px;
    font-size: 30px;
  }

  @media (max-width: em(630)) {
    font-size: 24px;
  }
}

.products__slider-wrapper {
  overflow: hidden;
}

.products__swiper {
  margin-bottom: 40px;

	@media (max-width:$mobileSmall){
		margin-bottom: 24px;
	}
}

.slider__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__btns {
  display: flex;
  gap: 20px;
}

.slider__pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.slider__prev,
.slider__next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: $accent;
  border-radius: 6px;

	&:hover {
		background: $pink;
	}

	&:active {
		background: $black;
	}
}

.slider__prev {
  transform: rotate(180deg);
}

.slider__icon {
  width: 16px;
  height: 16px;
  fill: $grey;
  transition: fill 0.3s ease;
}

.swiper-pagination-bullet {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $grey;
  cursor: pointer;

  &.swiper-pagination-bullet-active {
    background: $accent;
  }
}

// Product slider

.products__slide {
  max-width: 380px;

  @media (max-width: em(1280)) {
    max-width: 292px;
  }

  @media (max-width: em(972)) {
    transition: opacity 0.3s ease;
    opacity: 0.5;

    &.swiper-slide-next,
    &.swiper-slide-active {
      opacity: 1;
    }
  }

  @media (max-width: em(630)) {
    &.swiper-slide-next {
      opacity: 0.5;
    }

    &.swiper-slide-active {
      opacity: 1;
    }
  }

  @media (max-width: em(360)) {
    max-width: 280px;
  }
}

// partners slider

.partners__swiper {
  margin-bottom: 40px;

  @media (max-width: $mobile) {
    margin-bottom: 30px;
  }
}

.partners__slide {
  padding: 10px;
  transform: translateX(-45px);
  width: 174px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $whiteBold;
  border-radius: 4px;

  img {
    max-width: 100%;
  }

  @media (max-width: em(1280)) {
    width: 140px;
    height: 80px;
  }

  @media (max-width: $mobileSmall) {
    width: 80px;
    height: 45px;
  }
}

// gallery slider

.gallery__slider {
  margin-bottom: 40px;

  @media (max-width: em(1280)) {
    margin-bottom: 30px;
  }
}

.gallery__swiper {
  margin-bottom: 40px;

	@media (max-width:$mobileSmall){
		margin-bottom: 24px;
	}
}

.gallery__slide {
  width: 380px;
  height: 280px;
  transform: translateX(-85px);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  @media (max-width: em(1280)) {
    width: 300px;
    height: 220px;
  }

  @media (max-width: em(768)) {
    width: 213px;
    height: 157px;
  }
}

.gallery__video-slide {
  height: 100%;
}

.gallery__video {
  position: relative;
  display: block;
  box-shadow: 0 16px 40px 0 #bbb6b626;
  border-radius: 16px;
  height: 100%;
  overflow: hidden;
}

.gallery__btn {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: em(768)) {
    width: 48px;
    height: 48px;
  }
}

.gallery__button {
  margin: 0 auto;
  display: block;
  max-width: max-content;
  font-size: 16px;

	@media (max-width:$mobileSmall){
		padding: 16px 32px;
		font-size: 14px;
	}
}

// album

.album__slider {
  margin-bottom: 23px;

  @media (max-width: em(1280)) {
    margin-bottom: 16px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 12px;
  }

  @media (max-width: $mobileSmall) {
    margin-bottom: 7px;
  }
}

.album__slide {
  max-width: 970px;
  width: 100%;
  height: 615px;

  img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: em(1280)) {
    width: 709px;
    height: 458px;
  }

  @media (max-width: $mobile) {
    height: 340px;
  }

  @media (max-width: $mobileSmall) {
    height: 188px;
  }
}

.album__prev {
  top: calc(50% - 120px);
  left: -82px;

  @media (max-width: em(1280)) {
    top: calc(50% - 80px);
  }

  @media (max-width: em(1140)) {
    display: block;
  }

  @media (max-width: em(972)) {
    left: -70px;
  }

  @media (max-width: em(630)) {
    display: none;
  }
}

.album__next {
  top: calc(50% - 120px);
  right: -82px;

  @media (max-width: em(1280)) {
    top: calc(50% - 80px);
  }

  @media (max-width: em(1140)) {
    display: block;
  }

  @media (max-width: em(972)) {
    right: -70px;
  }

  @media (max-width: em(630)) {
    display: none;
  }
}

// thumbnail

.thumbnails__slide {
  width: 226px;
  height: 148px;
  cursor: pointer;

  img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: 1px solid transparent;

    @media (max-width: $mobile) {
      border-radius: 8px;
    }

    @media (max-width: $mobileSmall) {
      border-radius: 4px;
    }
  }

  &.swiper-slide-thumb-active {
    img {
      border-color: $accent;
    }
  }

  @media (max-width: em(1280)) {
    width: 165px;
    height: 108px;
  }

  @media (max-width: $mobile) {
    width: 123px;
    height: 80px;
  }

  @media (max-width: $mobileSmall) {
    width: 68px;
    height: 44px;
  }
}

// guides slider

.guides__slider {
  margin-bottom: 40px;

  @media (max-width: $mobileSmall) {
    margin-bottom: 30px;
  }

  .guide__button {
    @media (max-width: em(630)) {
      padding: 16px 32px;
    }
  }
}

.guides__swiper {
  margin-bottom: 40px;

  @media (max-width: $mobileSmall) {
    margin-bottom: 30px;
  }
}

.guides__slide {
  @media (max-width: $mobile) {
    max-width: 620px;
  }

  @media (max-width: em(630)) {
    max-width: 280px;
  }

  @media (max-width: $mobileSmall) {
    opacity: 0.5;

    &.swiper-slide-active {
      opacity: 1;
    }
  }
}

.guides__button {
  margin: 0 auto;
  display: block;
  max-width: max-content;

  @media (max-width: em(630)) {
    padding: 16px 32px;
    font-size: 12px;
  }
}

// master

.master__card {
  padding: 40px;
  text-align: center;

  @media (max-width: $mobileSmall) {
    padding: 40px 15px;
  }
}

.master__title {
  margin-bottom: 30px;

  @media (max-width: $mobile) {
    font-size: 18px;
  }
}

.master__button {
  margin: 0 auto;
  display: block;
  max-width: max-content;

  @media (max-width: $mobileSmall) {
    font-size: 14px;
  }
}
