.slider {
  &--products,
  &--partners,
  &--gallery,
  &--guides {
    margin-bottom: 115px;

    @media (max-width: em(1280)) {
      margin-bottom: 95px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 80px;
    }

    @media (max-width: $mobileSmall) {
      margin-bottom: 60px;
    }
  }
}

.slider__container {
  position: relative;

  @media (max-width: em(1500)) {
    max-width: 945px;
  }
}

.slider__title {
  margin-bottom: 40px;
  text-align: center;

  @media (max-width: em(1280)) {
    font-size: 36px;
  }

  @media (max-width: em(768)) {
    margin-bottom: 30px;
    font-size: 30px;
  }

  @media (max-width: em(630)) {
    font-size: 24px;
  }
}

.products__swiper {
  margin-bottom: 40px;
}

.slider__pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.slider__prev,
.slider__next {
  position: absolute;
  top: 50%;
  transform: translateY(10%);
  width: 56px;
  height: 56px;
  cursor: pointer;

  &:hover {
    .slider__icon {
      fill: $accent;
    }
  }

  @media (max-width: em(1140)) {
    display: none;
  }
}

.slider__prev {
  left: -90px;
  transform: rotate(180deg) translateY(-10%);

  @media (max-width: em(1500)) {
    left: -70px;
  }
}

.slider__next {
  right: -90px;

  @media (max-width: em(1500)) {
    right: -70px;
  }
}

.slider__icon {
  width: 100%;
  height: 100%;
  fill: $grey;
  transition: fill 0.3s ease;
}

.swiper-pagination-bullet {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $grey;
  cursor: pointer;

  &.swiper-pagination-bullet-active {
    background-color: $accent;
  }
}

// Product slider

.products__slide {
  max-width: 380px;

  @media (max-width: em(1500)) {
    max-width: 295px;
  }

  @media (max-width: em(972)) {
    transition: opacity 0.3s ease;
    opacity: 0.5;

    &.swiper-slide-next,
    &.swiper-slide-active {
      opacity: 1;
    }
  }

  @media (max-width: em(630)) {
    &.swiper-slide-next {
      opacity: 0.5;
    }

    &.swiper-slide-active {
      opacity: 1;
    }
  }

  @media (max-width: em(360)) {
    max-width: 280px;
  }
}

// partners slider

.partners__swiper {
  margin-bottom: 40px;

  @media (max-width: $mobile) {
    margin-bottom: 30px;
  }
}

.partners__slide {
  padding: 10px;
  transform: translateX(-45px);
  width: 174px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blackLight;
  border-radius: 4px;

  img {
    max-width: 100%;
  }

  @media (max-width: em(1280)) {
    width: 140px;
    height: 80px;
  }

  @media (max-width: $mobileSmall) {
    width: 80px;
    height: 45px;
  }
}

// gallery slider

.gallery__slider {
  margin-bottom: 40px;

  @media (max-width: em(1280)) {
    margin-bottom: 30px;
  }
}

.gallery__swiper {
  margin-bottom: 40px;
}

.gallery__slide {
  width: 380px;
  height: 280px;
  transform: translateX(-85px);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  @media (max-width: em(1280)) {
    width: 300px;
    height: 220px;
  }

  @media (max-width: em(768)) {
    width: 213px;
    height: 157px;
  }
}

.gallery__video-slide {
  height: 100%;
}

.gallery__video {
  position: relative;
  display: block;
  box-shadow: 0 16px 40px 0 #bbb6b626;
  border-radius: 16px;
  height: 100%;
  overflow: hidden;
}

.gallery__btn {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: em(768)) {
    width: 48px;
    height: 48px;
  }
}

.gallery__button {
  margin: 0 auto;
  display: block;
  max-width: max-content;
  font-size: 14px;
}

// album

.album__slider {
  margin-bottom: 23px;

  @media (max-width: em(1280)) {
    margin-bottom: 16px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 12px;
  }

  @media (max-width: $mobileSmall) {
    margin-bottom: 7px;
  }
}

.album__slide {
  max-width: 970px;
  width: 100%;
  height: 615px;

  img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: em(1280)) {
    width: 709px;
    height: 458px;
  }

  @media (max-width: $mobile) {
    height: 340px;
  }

  @media (max-width: $mobileSmall) {
    height: 188px;
  }
}

.album__prev {
  top: calc(50% - 120px);
  left: -82px;

  @media (max-width: em(1280)) {
    top: calc(50% - 80px);
  }

  @media (max-width: em(1140)) {
    display: block;
  }

  @media (max-width: em(972)) {
    left: -70px;
  }

  @media (max-width: em(630)) {
    display: none;
  }
}

.album__next {
  top: calc(50% - 120px);
  right: -82px;

  @media (max-width: em(1280)) {
    top: calc(50% - 80px);
  }

  @media (max-width: em(1140)) {
    display: block;
  }

  @media (max-width: em(972)) {
    right: -70px;
  }

  @media (max-width: em(630)) {
    display: none;
  }
}

// thumbnail

.thumbnails__slide {
  width: 226px;
  height: 148px;
  cursor: pointer;

  img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: 1px solid transparent;

    @media (max-width: $mobile) {
      border-radius: 8px;
    }

    @media (max-width: $mobileSmall) {
      border-radius: 4px;
    }
  }

  &.swiper-slide-thumb-active {
    img {
      border-color: $accent;
    }
  }

  @media (max-width: em(1280)) {
    width: 165px;
    height: 108px;
  }

  @media (max-width: $mobile) {
    width: 123px;
    height: 80px;
  }

  @media (max-width: $mobileSmall) {
    width: 68px;
    height: 44px;
  }
}

// guides slider

.guides__slider {
  margin-bottom: 40px;

  @media (max-width: $mobileSmall) {
    margin-bottom: 30px;
  }

  .guide__button {
    @media (max-width: em(630)) {
      padding: 16px 32px;
    }
  }
}

.guides__swiper {
  margin-bottom: 40px;

  @media (max-width: $mobileSmall) {
    margin-bottom: 30px;
  }
}

.guides__slide {
  @media (max-width: $mobile) {
    max-width: 620px;
  }

  @media (max-width: em(630)) {
    max-width: 280px;
  }

  @media (max-width: $mobileSmall) {
    opacity: 0.5;

    &.swiper-slide-active {
      opacity: 1;
    }
  }
}

.guides__button {
  margin: 0 auto;
  display: block;
  max-width: max-content;

  @media (max-width: em(630)) {
    padding: 16px 32px;
    font-size: 12px;
  }
}
