.sources {
  margin-bottom: 120px;

  @media (max-width: em(1280)) {
    margin-bottom: 95px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 80px;
  }

  @media (max-width: $mobileSmall) {
    margin-bottom: 60px;

    &--download {
      .sources__item {
        flex-direction: row;
      }

      .sources__title {
        margin-bottom: 30px;
      }
    }
  }
}

.sources__container {
  max-width: 995px;
}

.sources__title {
  margin-bottom: 40px;
  text-align: center;

  @media (max-width: em(1280)) {
    margin-bottom: 30px;
  }

  @media (max-width: $mobile) {
    font-size: 30px;
  }

  @media (max-width: $mobileSmall) {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.sources__list {
  display: flex;
  gap: 20px;

  li {
    width: 100%;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.sources__item {
  padding: 24px 32px;
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 4px;

  @media (max-width: $mobileSmall) {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

.sources__img {
  max-width: 100%;
}

.sources__descr {
  font-size: 16px;
  line-height: 1.5;

  @media (max-width: $mobileSmall) {
    font-size: 14px;
  }
}
