.training {
	padding: 100px 0;
	background-color: $whiteBold;
	text-align: center;

	@media (max-width: em(1280)){
		padding: 90px 0;
	}

	@media (max-width:$mobile){
		padding: 80px 0;
	}

	@media (max-width:$mobileSmall){
		padding: 60px 0;
	}
}

.training__title {
	margin-bottom: 40px;
	text-align: center;
	line-height: 1;
}

.training__descr {
	@media (max-width:$mobileSmall){
		font-size: 16px;
	}
}

.training__list {
	margin-bottom: 40px;
	
	li {
		margin: 0 auto;
		max-width: max-content;
		list-style-type: initial;

		@media (max-width: em(630)){
			list-style: none;
		}
	}

	@media (max-width:$mobileSmall){
		margin-bottom: 24px;
		font-size: 16px;
	}
}

.training__img {
	width: 100%;
	object-fit: cover;
	border-radius: 24px;
}