<div class="cards__container">
	<ul class="cards cards--main">
		<li class="card">
			<svg class="card__icon">
				<use xlink:href="@img/sprite.svg#clock"></use>
			</svg>

			<strong class="card__title">
				продолжительность
			</strong>

			<span class="card__descr">
				60 минут
			</span>
		</li>

		<li class="card">
			<svg class="card__icon">
				<use xlink:href="@img/sprite.svg#restrictions"></use>
			</svg>

			<strong class="card__title">
				возраст
			</strong>

			<span class="card__descr">
				от 7 лет
			</span>
		</li>

		<li class="card">
			<svg class="card__icon">
				<use xlink:href="@img/sprite.svg#group"></use>
			</svg>

			<strong class="card__title">
				размер группы
			</strong>

			<span class="card__descr">
				от 1 до 8 участников
			</span>
		</li>

		<li class="card">
			<svg class="card__icon">
				<use xlink:href="@img/sprite.svg#mind"></use>
			</svg>

			<strong class="card__title">
				специфика
			</strong>

			<span class="card__descr">
				незрячие или слабовидящие гиды
			</span>
		</li>
	</ul>
</div>