<div class="chars__container">
	<ul class="chars">
		<li class="chars__item card">
			<svg class="chars__icon">
				<use xlink:href="@img/sprite.svg#clock"></use>
			</svg>

			<strong class="chars__title">
				продолжительность
			</strong>

			<span class="chars__descr">
				60 минут
			</span>
		</li>

		<li class="chars__item card">
			<svg class="chars__icon">
				<use xlink:href="@img/sprite.svg#restrictions"></use>
			</svg>

			<strong class="chars__title">
				возраст
			</strong>

			<span class="chars__descr">
				от 7 лет
			</span>
		</li>

		<li class="chars__item card">
			<svg class="chars__icon">
				<use xlink:href="@img/sprite.svg#group"></use>
			</svg>

			<strong class="chars__title">
				размер группы
			</strong>

			<span class="chars__descr">
				от 1 до 8 участников
			</span>
		</li>

		<li class="chars__item card">
			<svg class="chars__icon">
				<use xlink:href="@img/sprite.svg#mind"></use>
			</svg>

			<strong class="chars__title">
				специфика
			</strong>

			<span class="chars__descr">
				незрячие или слабовидящие гиды
			</span>
		</li>
	</ul>
</div>