<article class="event">
	<img class="event__img" src="@@@imgUrl" alt="event">

	<div class="event__info">
		<h3 class="event__title">@@title</h3>

		<ul class="event__tags">
			<li class="event__tag event__tag--date">
				9 ноября
			</li>
			<li class="event__tag event__tag--time">
				16:30-17:30
			</li>
			<li class="event__tag event__tag--price">
				2500 ₽
			</li>
		</ul>

		<p class="event__descr">
			Яркие и насыщенные вкусы, тонкие чарующие ароматы, и даже посуда для дегустации чая у каждого участника будет
			иметь
			уникальный приятный тактильный рельеф.
		</p>

		<!-- spollers -->
		<dl class="event__cover">
			<dd class="event__answer answer">
				<div class="answer__content event__content">
					<h4>На встрече:</h4>

					<ul>
						<li>
							Мы познакомим вас с многообразием чая, от нежных, светлых до насыщенных, сильно ферментированных, тёмных
							сортов.
						</li>
						<li>
							Вы погрузитесь в мир вкусов и ароматов чая.
						</li>
						<li>
							Узнаете о традициях приготовления и употребления в Китае этого удивительного напитка.
						</li>
						<li>
							Темнота поможет максимально глубоко погрузиться в мир ароматов и вкусов.
						</li>
					</ul>

					<div class="event__leader">
						<img src="@img/guides/guide-1.png" alt="guide">
						<p>
							Ведущий: Щербань Анатолий, гид музея «Сенсориум»
						</p>
					</div>

					<strong>Количество мест: 6</strong>
				</div>
			</dd>

			<dt class="event__question question js-accordion">
				<button class="question__trigger event__trigger" type="button">
					Читать полностью
				</button>
			</dt>
		</dl>

		<a class="event__button button" data-popup="#callback-form" href="#">Принять участие</a>
	</div>
</article>