<article class="guide">
	<div class="guide__promo">
		<img class="guide__avatar" src="@@@imgUrl" alt="Vasiliy">

		<button class="guide__button sound-button active button button--l" type="button">
			<svg class="sound-button__icon sound-button__enable">
				<use xlink:href="@img/sprite.svg#sound-on"></use>
			</svg>
			<svg class="sound-button__icon sound-button__disable">
				<use xlink:href="@img/sprite.svg#sound-off"></use>
			</svg>
			<span class="sound-button__enable">включить звук</span>
			<span class="sound-button__disable">выключить звук</span>
		</button>
	</div>

	<div>
		<h2 class="guide__title">
			Василий Дрожжин
		</h2>

		<span class="guide__subtitle">
			36 лет, живет в городе Зеленоград.
		</span>

		<p class="guide__text">
			Два образования: среднее медицинское и высшее юридическое. Преподавал в университете на кафедре
			гражданско-правовых
			дисциплин. Опыт работы в музее - 8 месяцев.
		</p>

		<p class="guide__quote">
			Прогулка для меня, больше чем просто работа, это пространство, в котором я могу реализовать важную социальную
			миссию, по
			просвещению людей, относительно мира незрячих. Если вы любите необычные ощущения и вам интересно взглянуть на
			привычные
			вещи под новым углом, вам обязательно стоит посетить наше пространство в темноте.
		</p>
	</div>
</article>