<div class="pagination">
	<a class="arrow arrow--prev" href="#">
		<svg class="arrow__icon">
			<use xlink:href="@img/sprite.svg#angle-right"></use>
		</svg>
	</a>

	<ul>
		<li>
			<a href="#">1</a>
		</li>

		<li>
			<a href="#">2</a>
		</li>

		<li class="active">
			<span>3</span>
		</li>

		<li>
			<a href="#">4</a>
		</li>

		<li>
			<a href="#">5</a>
		</li>

		<li>
			<span>...</span>
		</li>

		<li>
			<a href="#">34</a>
		</li>
	</ul>

	<a class="arrow arrow--show" href="#">
		<svg class="arrow__icon">
			<use xlink:href="@img/sprite.svg#angle-right"></use>
		</svg>
	</a>
</div>