<article class="product product--video">
	<div class="video-preview gallery__video-slide">
		<a class="gallery__video" data-lg-size="1280-720" data-src="https://youtu.be/u-QqbAmvvLQ"
			data-sub-html="<h4>Название видео в одну или две строки</p>">
			<span class="play-btn gallery__btn">
				<svg class="play-btn__icon">
					<use xlink:href="@img/sprite.svg#play"></use>
				</svg>
			</span>

			<img src="@@@imgUrl" />
		</a>
	</div>

	<p class="product__descr">
		Название видео в одну или две строки
	</p>
</article>