<article class="product product--news">
	<img class="product__img" width="380" height="275" src="@@@imgUrl" alt="product 1">

	<ul class="product__tags">
		<li class="product__tag">
			<a class="product__taglink" href="#">Новости</a>
		</li>
		<li class="product__tag">
			<a class="product__taglink" href="#">Дети</a>
		</li>
	</ul>

	<div class="product__info">
		<span class="product__date">10.06.2022</span>

		<a class="product__descr" href="#">
			Уникальный формат интерактивной экскурсии вслепую!
		</a>
	</div>
</article>