<article class="review">
	<div class="review__top">
		<div class="user">
			<img class="user__avatar" src="@img/decor/user-avatar-1.jpg" alt="avatar">
			<div>
				<span class="user__name">
					voploshenie2
				</span>

				<span class="user__location">
					Москва, Россия
				</span>
			</div>
		</div>

		<ul class="mini-rating">
			<li class="active">
				<svg class="mini-rating__icon">
					<use xlink:href="@img/sprite.svg#rating-star"></use>
				</svg>
			</li>

			<li class="active">
				<svg class="mini-rating__icon">
					<use xlink:href="@img/sprite.svg#rating-star"></use>
				</svg>
			</li>

			<li class="active">
				<svg class="mini-rating__icon">
					<use xlink:href="@img/sprite.svg#rating-star"></use>
				</svg>
			</li>

			<li class="active">
				<svg class="mini-rating__icon">
					<use xlink:href="@img/sprite.svg#rating-star"></use>
				</svg>
			</li>

			<li>
				<svg class="mini-rating__icon">
					<use xlink:href="@img/sprite.svg#rating-star"></use>
				</svg>
			</li>
		</ul>
	</div>

	<span class="review__title">Готова посетить и в третий раз)</span>

	<p class="review__text">
		Уже два раза была в этом пространстве. Спустя время хочется вернуться) Прекрасные проводники, очень интересная
		обучающая
		часть.Было бы таких мест побольше!
	</p>

	<span class="review__date">Ноябрь 2020 года</span>
</article>