<article class="review">
	<div class="review__top">
		<ul class="mini-rating">
			<li class="active">
				<svg class="mini-rating__icon">
					<use xlink:href="@img/sprite.svg#rating-star"></use>
				</svg>
			</li>

			<li class="active">
				<svg class="mini-rating__icon">
					<use xlink:href="@img/sprite.svg#rating-star"></use>
				</svg>
			</li>

			<li class="active">
				<svg class="mini-rating__icon">
					<use xlink:href="@img/sprite.svg#rating-star"></use>
				</svg>
			</li>

			<li class="active">
				<svg class="mini-rating__icon">
					<use xlink:href="@img/sprite.svg#rating-star"></use>
				</svg>
			</li>

			<li>
				<svg class="mini-rating__icon">
					<use xlink:href="@img/sprite.svg#rating-star"></use>
				</svg>
			</li>
		</ul>

		<span class="review__date">26.12.2021</span>
	</div>

	<p class="review__text">
		Уже два раза была в этом пространстве. Спустя время хочется вернуться) Прекрасные проводники, очень интересная
		обучающая
		часть.Было бы таких мест побольше!
	</p>

	<a class="review__video" href="#">
		Смотреть видео-отзыв
	</a>

	<div class="user">
		<img class="user__avatar" src="@img/guides/guide-2.png" alt="avatar">
		<div>
			<span class="user__name">
				Мария Петрова
			</span>

			<span class="user__location">
				Москва
			</span>
		</div>
	</div>
</article>