<div class="runline">
	<span>
		Tripadvisor рекомендует сенсориум
	</span>
	<span>
		•
	</span>
	<span>
		Tripadvisor рекомендует сенсориум
	</span>
	<span>
		•
	</span>
	<span>
		Tripadvisor рекомендует сенсориум
	</span>
	<span>
		•
	</span>
	<span>
		Tripadvisor рекомендует сенсориум
	</span>
	<span>
		•
	</span>
	<span>
		Tripadvisor рекомендует сенсориум
	</span>
	<span>
		•
	</span>
	<span>
		Tripadvisor рекомендует сенсориум
	</span>
	<span>
		•
	</span>
	<span>
		Tripadvisor рекомендует сенсориум
	</span>
	<span>
		•
	</span>
	<span>
		Tripadvisor рекомендует сенсориум
	</span>
	<span>
		•
	</span>
</div>