<article class="stock">
	<img class="stock__img" src="@@@imgUrl" alt="stock">

	<div class="stock__info">
		<h3 class="stock__title">@@title</h3>
		<span class="stock__duration">
			Срок проведения: 10.08.2022 - 10.09.2022
		</span>

		<p class="stock__descr">
			Хотя фраза и бессмысленна, она имеет давнюю историю. Фраза использовалась печатниками многие столетия для
			демонстрации
			наиболее важных особенностей своих шрифтов. Она использовалась потому, что символы составляют сложные
		</p>

		<a class="stock__button button button--l" href="#">воспользоваться</a>
	</div>
</article>