// <SELECT>
// Снипет (HTML): sel
.select {
  position: relative;
  font-size: 16px;

  // .select__body
  &__body {
    position: relative;
  }

  // .select__title
  &__title {
    color: inherit;
    text-align: left;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
  }

  // .select__value
  &__value {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    flex-direction: row-reverse;
		padding: 11px 16px;
		background-color: $white;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    color: #19193c;
    font-size: 16px;
    line-height: 1.5;

    &:before {
      content: '';
      flex: 0 0 10px;
      transition: all 0.3s ease 0s;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10px;
      height: 5px;
      background-repeat: no-repeat;
      background-image: url('@img/icons/more.svg');

      ._select-open & {
        transform: rotate(-180deg);
      }
    }
  }
  // .select__text
  &__text {
    flex: 1 1 auto;
  }

  &__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
  }

  // .select__options
  &__options {
    position: absolute;
    top: 110%;
    border-radius: 2px;
    min-width: 100%;
    left: 0;
    background-color: $white;
    border-radius: 4px;
		box-shadow: 3px 3px 10px 5px #1f24480f;
  }

  // .select__scroll
  &__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    // Максимальная высота
    max-height: 200px;
    // Стили скроллбара
    .simplebar-scrollbar {
      &::before {
        //opacity: 1;
      }
    }
  }

  // .select__option
  &__option {
    width: 100%;
		padding: 8px 12px;
    display: block;
    text-align: left;
    cursor: pointer;
    color: inherit;
		min-height: 35px;
    text-transform: uppercase;
    line-height: 1.4;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &._select-selected {
      color: $accent;
    }

    @media (any-hover: hover) {
      &:hover {
        background: $accent;
				color: $white;
      }
    }
  }

  // Конструкция дополнительных данных
  &__row {
    display: inline-flex;
    align-items: center;
  }

  &__asset {
  }

  &__text {
  }

  // Состояния селекта
  &._select-open {
    z-index: 5;
  }
  &._select-disabled {
  }
  &._select-active {
  }
  &._select-focus {
  }
  &._select-multiple {
  }
  &._select-checkbox {
  }
}

// Тег
._select-tag {
  cursor: pointer;
}
