@font-face {
	font-family: Mont;
	font-display: swap;
	src: url("../fonts/Mont-Black.woff2") format("woff2"), url("../fonts/Mont-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
