// Button

.button {
  padding: 16px 48px;
  background-color: $accent;
  border-radius: 100px;
  box-shadow: 0 16px 40px 0 #c8a2004d;
  text-transform: uppercase;
  font-weight: 700;
  color: $black;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $accentHover;
  }

  &:active {
    background-color: $white;
  }

  &--ghost {
    color: $accent;
    background-color: transparent;
    border: 1px solid $accent;

    &:hover,
    &:active {
      color: $black;
    }
  }

  &--l {
    font-size: 14px;
  }

  &--m {
    font-size: 13px;
  }

  &--s {
    font-size: 12px;
  }
}

// Title

.title {
  text-transform: uppercase;
  font-family: 'Mont', sans-serif;
  font-weight: 900;

  &--litle-20,
  &--litle-24 {
    text-transform: initial;
    font-weight: 700;
  }

  &--litle-20 {
    font-size: 20px;
  }

  &--litle-24 {
    font-size: 24px;
  }

  &--h1 {
    font-size: 48px;
  }

  &--h2 {
    font-size: 40px;
  }

  &--h3 {
    font-size: 36px;
  }

  &--h4 {
    font-size: 30px;
  }

  &--h5 {
    font-size: 24px;
  }

  &--h6 {
    font-size: 18px;
  }
}

// detail

.detail {
  display: inline-block;
  padding-right: 34px;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 10px;
  background-image: url('@img/icons/arrow-detail.svg');
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;

  &--accent {
    color: $accent;
    background-image: url('@img/icons/arrow-detail-accent.svg');
  }
}
