// Button

.button {
  padding: 20px 32px;
  background: $accent;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 700;
  color: $white;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:active {
    background-color: $white;
  }

  &--ghost {
    position: relative;
    background: $accent;
    border: 1px solid #e9277c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--l {
    font-size: 14px;
  }

  &--m {
    font-size: 13px;
  }

  &--s {
    font-size: 12px;
  }
}

.sound-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: $black;
  border-radius: 16px;
  background: $white;

  &.active {
    .sound-button__enable {
      display: none;
    }

    .sound-button__disable {
      display: block;
    }
  }
}

.sound-button__disable {
  display: none;
}

.sound-button__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: $white;
  border-radius: 8px;
  box-shadow: 3px 3px 10px 5px #1f24480f;
}

.sound-button__icon {
  width: 16px;
  height: 16px;
}

// Title

.title {
  font-size: 55px;
}

// link

.link {
  position: relative;
  transition: color 0.3s ease;

  &:hover {
    color: $accent;
  }

  &--address,
  &--phone,
  &--mail {
    &::before {
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      content: '';
    }
  }

  &--location {
    padding-right: 23px;

    &::after {
      position: absolute;
      display: block;
      width: 10px;
      height: 5px;
      content: '';
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-image: url('@img/icons/more.svg');
    }
  }

  &--address {
    padding-left: 28px;

    &::before {
      width: 16px;
      background-image: url('@img/icons/location-big.svg');
    }
  }

  &--phone {
    padding-left: 36px;

    &::before {
      width: 17px;
      height: 17px;
      background-image: url('@img/icons/phone.svg');
    }
  }

  &--mail {
    padding-left: 29px;

    &::before {
      width: 22px;
      height: 16px;
      background-image: url('@img/icons/mail.svg');
    }
  }

  @media (max-width: $mobileSmall) {
    font-size: 16px;
  }
}

// detail

.detail {
  position: relative;
  display: inline-block;
  padding-right: 27px;

  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;

  &::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('@img/icons/arrow-detail.svg');
    content: '';
  }

  &--accent {
    background: $accent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &::after {
      background-image: url('@img/icons/arrow-detail-accent.svg');
    }
  }
}

// logo

.logo {
  display: block;
}

// play-btn

.play-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: $accent;
  cursor: pointer;

	@media (max-width:$mobile){
		width: 64px;
		height: 64px;
	}
}

.play-btn__icon {
  width: 20px;
  height: 18px;
}

// tabs

.tabs__navigation {
  display: flex;
  gap: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid $grey;
}

.tabs__title {
  position: relative;
  color: $greyLight;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 700;
  transition: color 0.3s ease;

  &._tab-active {
    color: $white;

    &::after {
      position: absolute;
      bottom: -24px;
      left: 0;
      width: 100%;
      height: 4px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background-color: $accent;
      transition: background-color 0.3s ease;
      content: '';
    }
  }

  @media (max-width: $mobileSmall) {
    font-size: 16px;
  }
}

// decor

.decor {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    height: 291px;
    width: 291px;
    content: '';
    filter: blur(200px);
    border-radius: 50%;

    @media (max-width: em(1024)) {
      display: none;
    }
  }

  &::before {
    background-color: #ff3c5f;
  }

  &::after {
    background-color: $accent;
  }

  &--bottom-left-r {
    &::before {
      bottom: 15%;
      left: -5%;
    }

    &::after {
      display: none;
    }
  }

  &--bottom-left-r-c {
    &::before {
      bottom: 20%;
      left: -35%;
    }

    &::after {
      display: none;
    }
  }

  &--top-left-r {
    &::before {
      top: -20%;
      left: -5%;
    }

    &::after {
      display: none;
    }
  }

  &--top-strict-left-r {
    &::before {
      top: 0%;
      left: -5%;
    }

    &::after {
      display: none;
    }
  }

  &--mid-right-y {
    &::before {
      display: none;
    }

    &::after {
      top: 45%;
      right: -10%;
    }
  }

  &--top-left-y-mid-right-r {
    &::before {
      top: 45%;
      right: -10%;
    }

    &::after {
      top: -10%;
      left: -5%;
    }
  }

  &--bottom-left-r-mid-right-y {
    &::before {
      top: 55%;
      left: -5%;
    }

    &::after {
      top: 25%;
      right: -10%;
    }
  }

  &--top-r-y {
    &::before {
      top: -30%;
      right: -10%;
    }

    &::after {
      top: 0;
      left: -5%;
    }
  }

  &--bottom-left-y-mid-right-y-c {
    &::before {
      top: 50%;
      right: -35%;
      background-color: $accent;
    }

    &::after {
      top: 70%;
      left: -35%;
    }
  }

  &--top-right-r {
    &::before {
      top: 20%;
      right: -10%;
    }

    &::after {
      display: none;
    }
  }

  &--top-right-y {
    &::before {
      display: none;
    }

    &::after {
      top: -15%;
      right: -10%;
    }
  }

  &--mid-left-r-top-right-y {
    &::before {
      top: 45%;
      left: -5%;
    }

    &::after {
      top: -15%;
      right: -10%;
    }
  }
}

.video-preview {
  box-shadow: 0 16px 40px 0 #bbb6b626;
}

@keyframes rotate {
  from {
    transform: translate(50%, -50%) rotate(360deg);
  }
  to {
    transform: translate(50%, -50%) rotate(0);
  }
}
