@use 'sass:math';

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import 'base/mixins';

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
// Подключить если есть локальные файлы шрифтов
@import 'fonts/fonts';

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Arial';
$fontSize: rem(18);

// Основные цвета
$white: #ffffff;
$whiteBold: #a8a8a8;
$accent: #ffb50d;
$accentHover: #ffd600;
$black: #000000;
$blackLight: #1b1b1b;
$red: #eb5757;
$grey: #363535;
$greyLight: #4f4f4f;
$greyThin: #9c9c9c;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1200;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 40;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'base/null';

body {
  // Скролл заблокирован
  .lock & {
    overflow: hidden;
    touch-action: none;
  }

  .menu-open & {
    .header__nav {
      transform: translateX(0);
    }
  }

  // Сайт загружен
  .loaded & {
  }
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

// Скрываем контент от пользователей ======================================================================================================================================================================================================================
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
  // Отзывчивая
  [class*='__container'] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  // По брейк-поинтам
  [class*='__container'] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import 'base';

// Подключение стилей общих элементов проекта
@import 'common';
@import 'components/pagination';
@import 'components/product';
@import 'components/review';
@import 'components/tags';
@import 'components/menu';
@import 'components/socials';
@import 'components/payment';
@import 'components/field';
@import 'components/breadcrumbs';
@import 'components/card';
@import 'components/guide';
@import 'components/cards';

//
@import 'sections/promo';
@import 'sections/form';
@import 'sections/section';
@import 'sections/news';
@import 'sections/guides';
@import 'sections/slider';
@import 'sections/faq';
@import 'sections/info';
@import 'sections/gallery';
@import 'sections/excursion';

// Подключение стилей отдельных блоков
@import 'header';
@import 'footer';

// Подключение стилей отдельных страниц
@import 'home';
